@font-face {
    font-family: 'BeautyHearts';
    src: url(.);
}

* {
    box-sizing: border-box;
    margin: 0;
    object-fit: cover;
    padding: 0;
    word-wrap: break-word !important;
    outline: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background: url(../img/fondo.png);
    background-size: 130% 130%;
    background-position: 0 0;
}

/* Header */
h1 {
    font-size: 5rem;
}
h2 {
    margin: 17px 0;
}
h3 {
    font-size: 22px;
}
/* Fin Header */

.container {
    padding: 3em 2em;
    max-width: 900px;
    margin: auto;
}

.container .content {
    /* min-height: auto; */
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 100%;
}

/* --Layout-------------------------------- */
.container .content .side-left .block-top {
    height: 150px;
    display: flex;
    justify-content: center;
}
.container .content .side-left .block-top img { 
    cursor: pointer;
    position: absolute;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.container .content .side-left .block-top .reflejo-imagen { 
    width: 200px;
    height: 200px;
    position: relative;
    top: -0px;
    transform: scale(1.05);
    background-color: rgb(17, 99, 210);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.container .content .side-left .block-center {
    color: white;
    background-color: rgb(17, 99, 210);
    /* border-radius: 10px 0 0 10px; */
} 
.container .content .side-left .block-bottom {
    height: 150px;
} 


.side-right {
    /* min-height: 100vh; */
    height: inherit;
    border-radius: 20px;
    background-color: rgba(255, 255, 255,.8);
    backdrop-filter: blur(200px);
    width: 100%;
    padding: 2em;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

/* -------------------------------- */


.container-img-perfil img {
    width: 200px;
    height: 200px;
    transform: scale(.98);
}

.separador {
    padding: 1em; 
    padding-top: 4.5em;
}

.info-personal {
    padding: 0 2em;
    margin-bottom: 1.6em;
}
.skills {
    padding: 0 2em;
    padding-bottom: 3.5em;
}
.skills ul {
    margin-left: 15px;
}
li {
    padding: 3px 0;
}


.side-right ul {
    
    margin-left: 15px;
    padding: 15px 0;
}

h2 ~ div {
    color: rgb(24, 24, 24);
    padding-left: 10px;
    /* font-family: 'Segoe UI'; */
}

@media (max-width: 650px) {
    body {
        font-family:Arial, Helvetica, sans-serif;
    }
    .container .content {
        min-height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 42%;
    }
    .container .content .side-left .block-bottom {
        height: 20px;
    }
}
